
@{
    ViewData["title"] = "Shopping Cart";
    List<Cart> carts = (List<Cart>)ViewData["cart"];
    List<Product> products = (List<Product>)ViewData["product"];
    List<User> users = (List<User>)ViewData["user"];
}
@section Css{
    <link href="~/css/cartPage.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/js/cartPage.js"></script>
}

<div class="shopping-cart">
    <!-- Title -->
    <div class="title">
        Shopping Cart
    </div>
    <!--Looping through all the products -->
    @for (int i = 0; i < carts.Count; i++)
    {
        if (carts[i].AddToCartProductQuantity > 0)
        {
            float price = products[i].ProductPrice * carts[i].AddToCartProductQuantity;
            <div class="item">
                <div class="buttons">
                    <!--<span class="delete-btn"></span> -->
                    <span class="like-btn"></span>
                </div>

                <div class="image">
                    <img src="@products[i].ProductImage" alt="" />
                </div>

                <div class="description">
                    <span>@products[i].ProductName</span>
                    <span>@products[i].ProductCategory</span>
                    <span>@products[i].ProductPrice</span>
                </div>

                <div class="quantity">
                    <button class="plus-btn" type="button" name="button">
                        <img src="/Image/Cart/plus.svg" alt="" />
                    </button>
                    <input type="text" name="name" value="@carts[i].AddToCartProductQuantity">
                    <button class="minus-btn" type="button" name="button">
                        <img src="/Image/Cart/minus.svg" alt="" />
                    </button>
                    <button class="remove" type="button" name="button">Remove</button>
                </div>

                <div class="price">$@price</div>
            </div>
        }
    }
</div>

