
@{
    ViewData["title"] = "Shopping Cart";
    List<Cart> carts = (List<Cart>)ViewData["cart"];
    List<Product> products = (List<Product>)ViewData["product"];
    List<User> users = (List<User>)ViewData["user"];
    float subtotal = 0;
}
@section Css{
    <link href="~/css/cartPage.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/js/cartPage.js"></script>
}

<div class="shopping-cart">
    <!-- Title -->
    <div class="title">
        Shopping Cart <span class="header1">Product</span> <span class="header2">Quantity</span> <span class="header3">Price</span>
    </div>
    <div id="updateShoppingPrice">
    <!--Looping through all the products -->
    @for (int i = 0; i < carts.Count; i++)
    {
        if (carts[i].AddToCartProductQuantity > 0)
        {
            float price = products[i].ProductPrice * carts[i].AddToCartProductQuantity;
            subtotal += price;
            <div class="item @carts[i].ProductId" id="@carts[i].UserId">
                <div class="buttons">
                    <!--<span class="delete-btn"></span> -->
                    <span class="like-btn"></span>
                </div>
                <!--Product Image -->
                <div class="image">
                    <img src="@products[i].ProductImage" width="120" height="80" alt="" />
                </div>

                <div class="description">
                    <span>@products[i].ProductName</span>
                    <span>@products[i].ProductCategory</span>
                    <span>$@products[i].ProductPrice</span>
                </div>

                <div class="quantity">  
                    <input type="number" name="name" class="productQuantity @carts[i].UserId" id="@carts[i].ProductId" value="@carts[i].AddToCartProductQuantity">
                    <button class="remove @carts[i].ProductId" id="@carts[i].UserId" type="button" name="button">Remove</button>
                </div>

                <div class="price">$@price</div>
            </div>
        }
    }
    </div>
</div>
<form action="/Cart/PurchaseDone" method="post">
<div class="row justify-content-center">
    <div class="col-lg-12">
        <div class="card">
            <div class="row">
                <div class="col-lg-3 radio-group">
                    <div class="row d-flex px-3 radio">
                        <img class="pay" src="https://i.imgur.com/WIAP9Ku.jpg">
                        <p class="my-auto">Credit Card</p>
                    </div>
                    <div class="row d-flex px-3 radio gray">
                        <img class="pay" src="https://i.imgur.com/OdxcctP.jpg">
                        <p class="my-auto">Debit Card</p>
                    </div>
                    <div class="row d-flex px-3 radio gray mb-3">
                        <img class="pay" src="https://i.imgur.com/cMk1MtK.jpg">
                        <p class="my-auto">PayPal</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row px-2">
                        <div class="form-group col-md-6"> <label class="form-control-label">Name on Card</label> <input type="text" id="cname" class="checkoutText" name="cname" placeholder="Cardholder Name"> </div>
                        <div class="form-group col-md-6"> <label class="form-control-label">Card Number</label> <input type="text" id="cnum" class="checkoutText" name="cnum" placeholder="xxxx xxxx xxxx xxxx"> </div>
                    </div>
                    <div class="row px-2">
                        <div class="form-group col-md-6"> <label class="form-control-label">Expiration Date</label> <input type="text" id="exp" class="checkoutText" name="exp" placeholder="MM/YYYY"> </div>
                        <div class="form-group col-md-6"> <label class="form-control-label">CVV</label> <input type="text" id="cvv" name="cvv" class="checkoutText" placeholder="***"> </div>
                    </div>
                </div>
                <div class="col-lg-3 mt-2">
                    <div class="row d-flex justify-content-between px-4">
                        <p class="mb-1 text-left">Subtotal</p>
                        <h6 class="mb-1 text-right "id="subtotal">$@subtotal</h6>
                    </div>
                    <div class="row d-flex justify-content-between px-4">
                        <p class="mb-1 text-left">Discount</p>
                        <h6 class="mb-1 text-right" id="discount">$0.00</h6>
                    </div>
                    <div class="row d-flex justify-content-between px-4" id="tax">
                        <p class="mb-1 text-left">Total (tax included)</p>
                        <h6 class="mb-1 text-right" id="total">$@subtotal</h6>
                    </div> <input type="submit" class="btn-block btn-blue" name="Checkout" value="Checkout">
                </div>
            </div>
        </div>
    </div>
</div>
</form>

