@{
    ViewData["title"] = "My Purchase History";
    List<Dictionary<Product, int>> allProdList = (List<Dictionary<Product, int>>)ViewData["allProdList"];
    @*List<List<Product>> allProductList = (List<List<Product>>)ViewData["allProductList"];
    List<Purchase> purchaseList = (List<Purchase>)ViewData["purchases"];*@
    @*List<PurchaseProduct> purProdList = (List<PurchaseProduct>)ViewData[];
     test@*
    @*List<Product> productList = (List<Product>)ViewData["productList"];*@
    List<string> activationCodeList = (List<string>)ViewData["activationCodes"];
    List<List<string>> allActCodeList = (List<List<string>>)ViewData["allActCodeList"];
    
}
@section Css{
    <link href="~/css/purchaseHistory.css" rel="stylesheet" />

}
@section Scripts {
    <script src="~/js/PurchaseHistory.js"></script>
}

<div class="container">
    <!-- Section-->
    <section class="py-5">
        <div class="container">
            @{
                foreach (Dictionary<Product, int> prodList in allProdList)
                {
                    foreach (KeyValuePair<Product, int> prod in prodList)
                    {
                        <!--1-->
                        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                            @*product image & description*@
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Product image-->
                                    <img style="height:100px "class="card-img-top" src="@prod.Key.ProductImage" alt="..."/>
                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder">@prod.Key.ProductName</h5>
                                            <!-- Product description-->
                                            @prod.Key.ProductDesc
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center" onclick="function()">
                                            <a class="btn download-btn" href="#letmeopen">Download</a>
                                        </div>
                                        @*<div class="text-center"><a class="btn btn-outline-dark mt-auto download-btn" href="#">Download</a></div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-5">
                            </div>
                                @*activation code*@

                                <div class="col mb-5" , style="text-align:center">
                                    <select class="custom-select" , style="text-align:center">
                                        <option selected>Activation Code</option>
                                        @{
                                            foreach (string activationCode in activationCodeList)
                                            {
                                                <option value="@activationCode">@activationCode</option>

                                            }
                                        }
                                    </select>
                                </div>

                                @*purchase info*@
                                <div class="col mb-5">
                                    Purchased On: purchase.PurchaseDate <br/>
                                    Quantity: @prod.Value<br/>
                                    $@prod.Key.ProductPrice <br/>
                                </div>
                            </div>
                    }
                }
            }

        </div>
    </section>
</div>

<div class="popup-wrap" id="letmeopen">
    <div class="popup-box transform-out">
        <h2>DOWNLOADING!</h2>
        <h3>Please check your download file.</h3>
        <a class="close-btn popup-close" href="#letmeopen">x</a>
    </div>
</div>